<div class="container">
  <br>
  <form action='/tweet' method='post' id="tweet_form">
    <input type="text" name='tweet' placeholder="Tweet">
    <input type="submit" value="Tweet!">
  </form>
  <span></span>
</div>

